do the thing:

<button onclick="startVideoStream()">enable camera</button>
<button onclick="sendFrame()">send frame</button>
<button onclick="switchCamera()">switch camera</button>

<video height=320 id="videoh" preload="none" autoplay="autoplay" playsinline></video>
